{% extends 'base.html' %}
{% load static i18n %}
{% block extra_css %}
    <style>
    .center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
        hr {
        position: relative;
        top: 20px;
        border: none;
        height: 12px;
        background: black;
        margin-bottom: 50px;
    }
        span {
            color: red;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container center_div">
    {% if not Result and not empty %}
<form method="POST" enctype="multipart/form-data">

    <!-- Security token -->
    {% csrf_token %}
        {{ form.errors }}
      <div class="form-group col-6">
    <label for="exampleFormControlInput1">{% trans "Enter your Question" %}</label>
    <textarea class="form-control" id="exampleFormControlInput1" placeholder="Question" name="question" required>
    </textarea>
  </div>
  <div class="form-group col-6">
    <label for="exampleFormControlSelect1"> {% trans "Choose between information retrieval algorithms models" %} </label>
    <select class="form-control" id="type" name="type" required>
        {% for type in  form.type %}
      <option> {{ type }}</option>
        {% endfor %}
    </select>
  </div>
  <div class="form-group col-6">
      <br>
       <button type="submit" class="btn btn-primary " value="Submit"> {% trans "Get the Answer Now" %} </button>
       <a href="{% url "create_ar" %}" class="btn btn-primary float-right "> {% trans "OR Add Arabic Question?" %}</a>
  </div>



</form>

    {% elif not empty %}
       <b> {% trans "You Result Search are the following..." %} </b>
        <br>
        <br>
        {% for answer in Result %}
            {{ answer | safe }}
             <br>
            <hr>
            <br>
        {% endfor %}
         <a  class="btn btn-primary " href="{% url "answer" %}"> {% trans "Back to search to another Question" %} </a>
        {% elif empty %}
          <b>{% trans "You Result Search is Empty, please try another query" %}</b>
        <br>
        <br>
        <a  class="btn btn-primary " href="{% url "answer" %}"> {% trans "Back to search to another Question" %} </a>

    {% endif %}

    </div>
{% endblock %}


